/target
# "If you're posting a code repository somewhere, please don't include parts of Advent of Code like the puzzle text or your inputs."

# Could just have `/data` here but I like to be explicit:
/data/??_input.txt
/data/??_example.txt
